/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #f0ece2;
  --secondary-color: #a3a297;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  margin-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
h4 {
  font-size: 48px;
}
p {
  line-height: 30px;
  font-size: 16px;
}
.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 160px 30px;
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.hero p {
  font-size: 36px;
  margin: 0;
  font-weight: bold;
}

.btn-contact {
  background-color: white;
  opacity: 90%;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  padding: 15px 30px;
  /* line-height: 27px; */
  border-radius: 4px;
}

.btn-project {
  background-color: var(--branding-color);
  /* background-color: white; */
  /* color: rgba(0, 0, 0, 0.7); */
  color: var(--secondary-color);
  font-size: 18px;
  padding: 15px 30px;
  border: var(--border);
}
.btn-project:hover {
  color: rgba(0, 0, 0, 0.7);
}
.project-details {
  padding: 60px 60px;
}

.container-content {
  padding: 150px 30px 0px;
}

.container-content h1 {
  font-size: 64px;
}

.container-content h2 {
  font-size: 18px;
  font-family: var(--default-family);
}

.self-img {
  max-width: 70%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.container-content p {
  /* text-align: center; */
  font-size: 14px;
}
.container-content h3 {
  font-family: var(--default-family);
  font-size: 24px;
  text-align: center;
}

footer {
  margin: 70px 0;
  /* background-color: var(--branding-color); */
}

footer .contact-box {
  background-color: #a3a297;
  margin: 20px 30px 50px;
  border-radius: 10px;
  padding: 20px 30px;
}
.email-link,
.contact-links {
  color: black;
  text-decoration: none;
  /* font-size: 24px; */
}

.email-links {
  font-size: 24px;
}

.email-link:hover,
.contact-links:hover {
  color: var(--secondary-color);
}
.author {
  margin-top: 80px;
}
.author a {
  color: var(--secondary-color);
  text-decoration: none;
}
.author a:hover {
  text-decoration: underline;
}

footer .social-links a {
  margin: 0 20px;
  padding: 10px 16px;
  border-radius: 50%;
  font-size: 18px;
  /* text-decoration: none; */
  color: var(--branding-color);
  background: rgba(0, 0, 0, 0.7);
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: rgba(0, 0, 0, 0.7);
  background: var(--branding-color);
}

@media (max-width: 750px) {
  .hero {
    padding: 30px 30px;
  }

  .project-details {
    padding: 0;
    text-align: center;
  }

  .container-content {
    padding: 30px 30px;
    text-align: center;
  }

  h1 {
    font-size: 44px;
  }
  h2 {
    /* font-size: 40px; */
    font-size: 30px;
  }
}
