/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #f0ece2;
  --secondary-color: white;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  margin-bottom: 40px;
}
.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 160px 30px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.hero p {
  font-size: 36px;
  margin: 0;
  font-weight: bold;
}

.btn-contact {
  background-color: var(--secondary-color);
  opacity: 90%;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  padding: 15px 30px;
  /* line-height: 27px; */
  border-radius: 4px;
}

.btn-project {
  background-color: var(--branding-color);
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  padding: 15px 30px;
}
.project-details {
  padding: 60px 60px;
}
p {
  line-height: 30px;
  font-size: 16px;
}

.about-section {
  padding: 160px 30px;
}

.about-section h1 {
  font-size: 64px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-family);
}

.about-section img {
  max-width: 70%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

@media (max-width: 750px) {
  .hero {
    padding: 30px 30px;
  }

  .project-details {
    padding: 0;
    text-align: center;
  }

  .about-section {
    padding: 30px 30px;
    text-align: center;
  }

  h1 {
    font-size: 44px;
  }
  h2 {
    /* font-size: 40px; */
    font-size: 30px;
  }
}
