/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

:root {
  --branding-color: #f0ece2;
  --secondary-color: white;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
.hero {
  background-color: var(--branding-color);
  text-align: center;
  padding: 160px 30px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.btn-contact {
  background-color: var(--secondary-color);
  opacity: 90%;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  padding: 15px 30px;
  /* line-height: 27px; */
  border-radius: 4px;
}

.hero p {
  font-size: 36px;
  margin: 0;
  font-weight: bold;
}
